.card-content{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-height: 90%;
    padding-top: 60px;
    filter:brightness(100%, 50%);

    @media screen and (max-width: 768px){
        overflow-y: scroll;
    }
}

.cards-empty{
    display: inline-block;
    margin-top: 100px;
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px 5px #0002;
    color: white;

    .text{
        display: block;
        margin-bottom: 10px;
        font-size: 20px
    }

    @media screen and (max-width: 768px) {
        
    }
}