@use '../Others/styles/var.scss';

.container-card{
    overflow: hidden;
    background-color: #0004;
    margin: 20px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius:20px;
    transform: scale(1);
    
    .gif{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        transform: scale(0)
    }

    .card{
        transform: scale(1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        color: white;

        .card__close{
            position: absolute;
            z-index: 50;
            top: -20px;
            right: -20px;
            padding: 5px 12px;
            border-radius: 20px;
            font-size: 20px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: red;

            &:hover{
                background-color: #0004;
            }
        }

        .card__name{
            font-size: 25px;
            margin-bottom: 20px;
        }

        .card__data{
            display: flex;
            margin-bottom: 20px;

            .data__climate{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                font-size: 20px;
                padding: 0 10px;
                margin-right: 20px;
                border-radius: 12px;
                background-color: #fff2;
            }

        }
        
        .btn{
            padding: 5px 15px;
            font-weight: normal;
        }
    }

    &:hover{
        transform: scale(1.1);
        transition: 0.2s;

        .card{
            .card__close{
                top: 10px;
                right: 10px;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .card .card__close{
            top: 10px;
            right: 10px;
            background-color: #0004;
        }
    }
}

.container-card-dark .card .card__name:before{
    background-color: var.$background-2;
    color: var.$secundary;
}


.container-card, .gif, .card, .card__close{
    transition: 0.2s;
}