@use '../Others/styles/var.scss';

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .home-container{
        display: flex;
        flex-direction: row-reverse;
        padding: 50px 20px;
        margin-top: 60px;

        .text-content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 50px;
            
            .flex{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                
                h1{
                    margin: 10px;
                    font-size: 60px;
                    color: white;
                }

                .btn{
                    width: max-content;
                    margin: 20px;
                    box-shadow: #0004;
                }
            }
            
            .cards{
                display: flex;
                justify-content: center;
                align-items: end;
                width: 100%;

                .card__close{display: none;}
            }
        }
    }
    
    @media screen and (max-height: 768px), screen and (max-width: 1200px){
        .card-detail{
            display: none;
        }
    }

    @media screen and (max-width: 768px) {

        overflow-y: scroll;
        align-items: flex-start;

        .home-container{
            flex-direction: column;
            width: 100% !important;

            .text-content{
                align-items: flex-end;
                flex-grow: 1;
                margin: 0;
    
                .flex h1{
                    text-align: left;
                    margin: 40px;
                    font-size: 50px;
                }

                .cards{
                    flex-direction: column;
                    align-items: center;
                    margin-top: 40px;
                }
            }
    
            .card-detail{
                flex-grow: 0;
                display: none;
            }
        }
    }
}