@use 'var';

.container-card{
    overflow: hidden;
    background-color: #0004;
    margin: 20px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius:20px;
    transform: scale(1);
    
    .gif{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        transform: scale(0)
    }

    .card{
        transform: scale(1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: white;

        .card__close{
            position: absolute;
            z-index: 50;
            top: -20px;
            right: -20px;
            padding: 5px 12px;
            border-radius: 20px;
            font-size: 20px;
            cursor: pointer;
            border: none;
            background-color: transparent;
            color: red;

            &:hover{
                background-color: #0004;
            }
        }

        .card__name{
            position: relative;
            width: max-content;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid transparent;
            cursor: pointer;

            &:before{
                content: 'More';
                position: absolute;
                opacity: 0;
                bottom: -100%;
                left: 32%;
                padding: 8px;
                font-weight: bold;
                font-size: 12px;
                border-radius: 15px;
                background-color: white;
                color: var.$primary;
                transition: 0.5s;
            }

            &:hover{
                filter: brightness(90%);
                border-color: white;

                &:before{
                    opacity: 100%;
                    bottom: -150%;
                    transition: 0.5s;
                }
            }
        }

        .card__data{
            display: flex;

            .data__climate{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0 10px;
                margin-right: 20px;
                border-radius: 12px;
                background-color: #fff2;
            }
        }

    }

    &:hover{
        transform: scale(1.1);
        transition: 0.2s;

        .card{
            .card__close{
                top: 10px;
                right: 10px;
            }
        }
    }
}

.loading {
    .card{
        height: 0;
        width: 0;
        transform: scale(0);
    }
    
    .gif{
        opacity: 100%;
        height: 80px;
        height: 50px;
        transform: scale(1);
        display: block;
    }
}

.container-card-dark .card .card__name:before{
    background-color: var.$background-2;
    color: var.$secundary;
}


.container-card, .gif, .card, .card__close{
    transition: 0.2s;
}
    
@keyframes loading{
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}