@use 'var';

.search-bar{
    display: inline-block;

    input, button{
        overflow: hidden;
        padding: 5px 10px;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
        transition: 0.2s;
    }
    
    .icon{
        display: none;
    }

    input{
        margin-right: 10px;

        &:hover{
            box-shadow: 0 0 5px 5px #0004;
            border-color: var.$primary;
        }
    }

    button{
        border-color: var.$primary;
        background-color: var.$primary; 
        color: white;

        &:hover{
            cursor: pointer;
            color: var.$primary;
            background-color: white;
            border-color: var.$primary;
            box-shadow: 0 0 5px 5px #0004;
        }

        &:active{
            color: var.$primary;
            background-color: white;
            border-color: var.$primary;
            box-shadow: 0 0 5px 5px #0004;
            filter:brightness(80%);
            transform: scale(0.95);
        }
    }

    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;

        .icon{
            display: inline-block;
            margin-right: 10px;
            transition: 0.2s;
        }

        .emergente{
            position: absolute;
            opacity: 0;
            top: 60px;
            left: 0;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 5px 5px 2px #0004;
            background-color: var.$background;
            transition: 0.2s;
        }

        &:hover{
            z-index: 100;
            border-radius: 20px;

            .icon{
                width: 20px;
                transition: 0.2s;
            }

            .emergente{
                opacity: 100%;
                transition: 0.2s;

                input, button{
                    margin: 10px 5px;
                }
            }
        }
    }
}

.search-bar-dark{
    input{
        background-color: var.$background-2;
        color: var.$font;

        &:hover{
            border-color: var.$secundary;
            box-shadow: none;
        }
    }

    button{
        background-color: var.$background-dark;
        border-color: var.$background-2;

        &:hover{
            background-color: var.$background-2;
            border-color: var.$secundary;
            color: var.$secundary;
            box-shadow: none;
        }

        &:active{
            background-color: var.$background-2;
            box-shadow: none;
        }
    }

    @media screen and (max-width: 700px) {
        .emergente{
            background-color: var.$background-dark;
        }
    }

}