@use 'var';
$light: #fe7;
$dark: #e7f;

.switch{
    position: relative;
    width: 48px;
    margin-right: 10px;
    border-radius: 20px;
    border: 5px solid var.$primary;
    background-color: white;
    transition: 0.2s;

    .switch-btn{
        display: flex;
        position: relative;
        left: 0;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: var.$primary;
        box-shadow: 0 0 5px 5px #0004;
        border: 2px solid white;
        transition: 0.2s;

        img{
            width: 70%;
            height: 70%;
            filter: invert(100%);
        }
    }

    &:before{
        content: 'Change to Dark Mode';
        position: absolute;
        top: 160%;
        left: -50%;
        opacity: 0;
        width: 80px;
        padding: 10px;
        font-size: 13px;
        border-radius: 20px;
        color: var.$primary;
        font-weight: bold;
        background-color: white;
        transform: scale(0.8);
        transition: 0.2s ease;
    }

    &:hover{
        cursor: pointer;
        
        .switch-btn{
            border-color: $light;
        }

        background-color: $light;
        box-shadow: 0 0 5px 5px #0004;
        transition: 0.2s;

        &:before{
            top: 200%;
            opacity: 100%;
            transform: scale(1);
            transition: 0.5s;
        }
    }

    @media screen and (max-width: 768px) {
        &:before{
            display: none;
        }
    }
}

.switch-dark{
    background-color: var.$background;
    border-color: var.$background-2;

    .switch-btn{
        left: 50%;
        border-color: var.$background;
        background-color: var.$background-2;
        transition: 0.2s;
    }

    &:hover{
        .switch-btn{
            border-color: $dark;
        }
        background-color: $dark;
    }

    &:before{
        content: 'Change to Light Mode';
        background-color: var.$background-2;
        color: $dark;
    }
}
