// Light Mode:
/* $background: #333;
$background-2: #444;
$border-details: #222;
$font-color: #fff;
$color: #0af; */

//
$background: #25728c;

// Dark-Mode:
$background-dark: #333;
$background-2: #444;
$border: #222;
$font: #fff;
$primary: #0af;
$secundary: #e7f;